@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Light.eot');
  src: url('/fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
     url('/fonts/Gilroy/Gilroy-Light.woff') format('woff'),
     url('/fonts/Gilroy/Gilroy-Light.ttf') format('truetype'),
     url('/fonts/Gilroy/Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Dense';
  src: url('/fonts/Dense/Dense-Regular.eot');
  src: url('/fonts/Dense/Dense-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Dense/Dense-Regular.woff') format('woff'),
    url('/fonts/Dense/Dense-Regular.ttf') format('truetype'),
    url('/fonts/Dense/Dense-Regular.svg#Dense-Regular') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Adam';
  src: url('/fonts/Adam/Adam-Regular.eot');
  src: url('/fonts/Adam/Adam-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Adam/Adam-Regular.woff') format('woff'),
    url('/fonts/Adam/Adam-Regular.ttf') format('truetype'),
    url('/fonts/Adam/Adam-Regular.svg#Adam-Regular') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Moon';
  src: url('/fonts/Moon/Moon-Regular.eot');
  src: url('/fonts/Moon/Moon-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Moon/Moon-Regular.woff') format('woff'),
    url('/fonts/Moon/Moon-Regular.ttf') format('truetype'),
    url('/fonts/Moon/Moon-Regular.svg#Moon-Regular') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Moon';
  src: url('/fonts/Moon/Moon-Light.eot');
  src: url('/fonts/Moon/Moon-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Moon/Moon-Light.woff') format('woff'),
    url('/fonts/Moon/Moon-Light.ttf') format('truetype'),
    url('/fonts/Moon/Moon-Light.svg#Moon-Light') format('svg');
  font-style: normal;
  font-weight: 300;
}